<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
      <link rel="stylesheet" href="static/css/style2.css">
</head>

<label hidden id="flats">{{ flats }}</label>
<body>
  <div class="preloader">
		<div class="preloader__row">
		  <div class="preloader__item"></div>
		  <div class="preloader__item"></div>
		</div>
    <script>
      window.onload = function () {
        document.body.classList.add('loaded_hiding');
        window.setTimeout(function () {
        document.body.classList.add('loaded');
        document.body.classList.remove('loaded_hiding');
        }, 500);
      }
      </script>
	  </div>

  <h1 style=color:#ecf0f1, style="font-family:Verdana, Geneva, Tahoma, sans-serif;">Выберите номер квартиры</h1>
  <form action="home" name="flats" style="margin-left: 27px" method="POST">
	{% for flat in flats %}
	  	<button value={{ flat }} name="flat_button" class="floating-button"> {{ flat }} </button>
	{% endfor %}
  </form>
	<form action="remoter" autocomplete="off">
    	<button value=flat class="floating-button" style="display: block; margin-left: auto; margin-right: auto;"> Вернуться </button>
	</form>
</div>

</body>
</html>